api/__pycache__/__init__.cpython-312.pyc
api/__pycache__/admin.cpython-312.pyc
api/__pycache__/apps.cpython-312.pyc
api/__pycache__/authentication.cpython-312.pyc
api/__pycache__/models.cpython-312.pyc
api/__pycache__/urls.cpython-312.pyc
api/__pycache__/views.cpython-312.pyc
myproject/__pycache__/__init__.cpython-312.pyc
myproject/__pycache__/settings.cpython-312.pyc
myproject/__pycache__/urls.cpython-312.pyc
myproject/__pycache__/wsgi.cpython-312.pyc
api/migrations/__pycache__/__init__.cpython-312.pyc
